<%- include('partials/header') -%>
<h1><%= title %></h1>
<p><%= body %></p>
<form action="/delete" method="POST">
    <button class="btn btn-warning" type="submit" name="post2Delete" value=<%=id%>>Delete Post</button>
</form>
<%- include('partials/footer') -%>