<html lang="en">
    <%- include('header') -%>
    <body>
        <div class="box" id="heading">
            <h1><%=listTitle%>!</h1>
        </div>
        <div class="box">
            <% for (let i in listItems) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%=listItems[i]%></p>
                </div>
            <% } %>
            <form class="item" action=<%=route%> method="POST">
                <input type="text" name="newItem" placeholder="New Item." autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
        </div>
    </body>
    <%- include('footer') -%>
</html>